<VirtualHost *:{{ http_port }}>
   ServerAdmin {{ admin }}
   ServerName {{ git_commit }}.{{ http_host }}
   ServerAlias www.{{ git_commit }}.{{ http_host }}
   DocumentRoot "/var/www/html/{{ git_commit }}"
   <Directory "/var/www/html/{{ git_commit }}">
    DirectoryIndex index.html
    Options +Indexes +Includes +FollowSymLinks +MultiViews
    AllowOverride All
    Require all Granted
  </Directory>
   ErrorLog /var/www/html/{{ git_commit }}/error.log
   CustomLog /var/www/html/{{ git_commit }}/access.log combined
</VirtualHost>
